locals {
  storage_account_name            = "${REMOTE_STATE_STORAGE_ACCOUNT}"
  storage_account_resource_group  = "${REMOTE_STATE_RESOURCE_GROUP}"
  storage_account_tenant_id       = "${ARM_TENANT_ID}"
  storage_account_subscription_id = "${MANAGEMENT_SUBSCRIPTION_ID}"
}
